/* ---------- Header Section ---------- */
header{
    min-height: 60vh;
    background-color: #1F2937;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-box {
    flex: 1;
    text-align: left;
    padding: 50px 20px 20px 200px;
}

.text-box h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    padding: 5px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 18px;
    color: #F9FAF8;
    margin-bottom: 15px;
    margin-left: 5px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.hero-btn {
    border: 1px solid #3882F6;
    background-color: #3882F6;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 7px;
    color: #F9FAF8;
    text-decoration: none;
}

.hero-btn:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border: 1px solid #3882F6;
  }

.hero-img {
    width: 400px;
    padding: 25px 200px 20px 50px;
}

/* ---------- About Section ---------- */

.about-content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    padding: 0;
}

.centered-h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 50px 0;
    text-align: center;
    margin-top: 10px;
}

.article-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-item {
    flex: 1;
    margin: 10px 35px 35px 35px; 
    text-align: center;
}

.about-item img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.about-item h4 {
    font-size: 22px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 10px;
    text-align: center;
}

.about-item p {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 80px;
}

p {
    margin-left: 10px;
}

/* ---------- Quote Section ---------- */

.quote {
    background-color: #E5E7EB;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.quote h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 50px;
}

.quote p {
    width: 70%;
    font-size: 36px;
    font-weight: thin;
    font-style: italic;
    color: #1F2937;
    padding-bottom: 100px; 
    position: relative;
    text-align: center;
}

.quote-author {
    display: block;
    font-size: 14px;
    text-align: right;
    color: #1F2937;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
}

/* ---------- Call to Action Section ---------- */

.call-to-action {
    background-color: #3882f6;
    width: 60%;
    margin: 70px auto;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

.call-to-action h4 {
    font-size: 18px;
    font-weight: extra-bold;
    color: #E5E7EB;
    margin-bottom: 3px;
}

.call-to-action p {
    font-size: 14px;
    color: #E5E7EB;
    margin-left: 0;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: #F9FAF8;
    padding: 7px 20px;
    font-size: 14px;
    background-color: #3882f6;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border: 1px solid #3882F6;
  }


/* ---------- Media Query ---------- */

@media (max-width: 762px) {
    .text-box {
        padding-left: 20px;
    }
    
    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .service-col {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .service-col p {
        width: 100%;
    }

    .testimonial p {
        width: 90%;
        font-size: 16px;
        padding-bottom: 20px;
    }
    
    .testimonial-author {
        text-align: center;
    }
    
    
    .call-to-action {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .call-to-action-content {
        padding: 20px;
    }
    
    .call-to-action h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .call-to-action p {
        font-size: 16px;
    }
    
    .cta-button {
        margin-top: 20px;
    }
}