/* ---------- Header Section ---------- */

header{
    min-height: 60vh;
    background-color: #1F2937;
    width: 100%;
    position: relative;
}

.header-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-box {
    flex: 1;
    text-align: left;
    padding: 50px 20px 20px 200px;
}

.text-box h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 5px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 18px;
    color: #F9FAF8;
    margin-bottom: 15px;
}

.hero-btn {
    border: 1px solid #3882F6;
    background-color: #3882F6;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 7px;
    color: #F9FAF8;
    text-decoration: none;
}

.hero-btn:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border: 1px solid #3882F6;
  }

.hero-img {
    width: 400px;
    padding: 50px 200px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}




/* ---------- Our Offings Section ---------- */


.info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 50px;
}

.service-col p {
    width: 200px;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.service-col img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}


/* ---------- Testimonials Section ---------- */

.testimonial {
    background-color: #E5E7EB;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.testimonial h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 50px;
}

.testimonial p {
    width: 70%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-bottom: 100px; 
    position: relative;
}

.testimonial-author {
    display: block;
    font-size: 14px;
    text-align: right;
    color: #1F2937;
    font-style: normal;
    font-weight: bold;
}

/* ---------- Call to Action Section ---------- */

.call-to-action {
    background-color: #3882f6;
    width: 60%;
    margin: 70px auto;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

.call-to-action h4 {
    font-size: 18px;
    font-weight: 800;
    color: #E5E7EB;
}

.call-to-action p {
    font-size: 14px;
    color: #E5E7EB;
}


.hero-btn-alt {
    border: 1px solid #F9FAF8;
    background-color: #3882F6;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 7px;
    color: #F9FAF8;
    text-decoration: none;
}

.hero-btn-alt:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border: 1px solid #3882F6;
  }


/* ---------- Media Query ---------- */

@media (max-width: 700px) {
    .text-box {
        padding-left: 20px;
    }
    
    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .service-col {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .service-col img {
        width: 100%;
        height: auto;
    }
    
    .service-col p {
        width: 100%;
    }

    

    .testimonial p {
        width: 90%;
        font-size: 16px;
        padding-bottom: 20px;
    }
    
    .testimonial-author {
        text-align: center;
    }
    
    
    
    .call-to-action {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .call-to-action-content {
        padding: 20px;
    }
    
    .call-to-action h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .call-to-action p {
        font-size: 16px;
    }
    
    .hero-btn-alt {
        margin-top: 20px;
    }
}
