/* ---------- Header Section ---------- */

body {
    max-width: 1290px;
    margin: auto;
    background-color:#F9FAF8;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header-content { 
    min-height: 50vh;
    background-color: #1F2937;
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.header-content>*{
    padding: 4em;
}

.text-box {
    flex: 1;
    text-align: left;
    margin: 0;
}

.text-box h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 5px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 18px;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.hero-btn {
    border: 1px solid #3882F6;
    background-color: #3882F6;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 7px;
    color: #F9FAF8;
    text-decoration: none;
}

.hero-btn:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border: 1px solid #3882F6;
  }

.hero-img {
    width: 400px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/* ---------- Our Offerings Section ---------- */


.info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 4em;
  
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 2em;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-col {
    margin-bottom: 20px;
    width: calc(25% - 20px); 
    flex: 1 0 25%; 
    box-sizing: border-box; 
}

.service-col img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 80%;
    height: auto;
    max-width: 80%;
}

.service-col p {
    width: 100%;
    margin-top: 10px;
}



/* ---------- Testimonials Section ---------- */

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.testimonial blockquote {
    max-width: 70%;
    margin: 0 auto;
    padding: 1em;
}

.testimonial p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 1em; 
}

.testimonial .testimonial-author {
    display: block;
    font-size: 14px;
    text-align: right;
    color: #1F2937;
    font-style: normal;
    font-weight: bold;
}


/* ---------- Call to Action Section ---------- */

.call-to-action {
    background-color: #3882f6;
    width: 80%;
    margin: 4em auto;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call-to-action h4 {
    font-size: 18px;
    font-weight: 800;
    color: #E5E7EB;
}

.call-to-action p {
    padding: 0.5em;
    font-size: 14px;
    color: #E5E7EB;
}


.hero-btn-alt {
    border: 1px solid #F9FAF8;
    background-color: #3882F6;
    padding: 1em;
    font-size: 14px;
    min-width: 50px;
    border-radius: 7px;
    color: #F9FAF8;
    text-decoration: none;
}

.hero-btn-alt:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border: 1px solid #3882F6;
  }



/* Mobile L - 425px */
@media (max-width: 425px) {
    .hero-img{
        max-width: 300px;
        padding: 0;
        margin: 0;
    }

  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info h2 {
    padding: 0.5em;
  }

  .service-col {
    width: 100%; /* Single column */
    flex: 1 0 100%;
  }

  .row figure {
    width: 100%;
    height: auto; 
    max-width: 300px; 
  }

  .testimonial p {
    font-size: 20px;
    padding: 0;
  }

  .call-to-action {
    padding: 30px; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
    
    
}

@media (max-width: 768px) {
    .service-col {
        width: calc(50% - 20px); /* Two columns in a row */
        flex: 1 0 50%;
    }
}

@media (min-width: 2000px) {
    .header-content>*{
        padding: 20em;
        scale: 150%;
    }

    .call-to-action {
        width: 50%;
        scale: 150%;
    }
}
