.header {
  min-height: 60vh;
  width: 100%;
  background-image: url(../images/placeholder-banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.align-items-center {
  align-items: center;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row.m-60px > *:not(:last-child) {
  margin-right: 60px;
}
.flex-row.m-56px > *:not(:last-child) {
  margin-right: 56px;
}
.flex-row.m-52px > *:not(:last-child) {
  margin-right: 52px;
}
.flex-row.m-48px > *:not(:last-child) {
  margin-right: 48px;
}
.flex-row.m-44px > *:not(:last-child) {
  margin-right: 44px;
}
.flex-row.m-40px > *:not(:last-child) {
  margin-right: 40px;
}
.flex-row.m-36px > *:not(:last-child) {
  margin-right: 36px;
}
.flex-row.m-32px > *:not(:last-child) {
  margin-right: 32px;
}
.flex-row.m-28px > *:not(:last-child) {
  margin-right: 28px;
}
.flex-row.m-24px > *:not(:last-child) {
  margin-right: 24px;
}
.flex-row.m-20px > *:not(:last-child) {
  margin-right: 20px;
}
.flex-row.m-16px > *:not(:last-child) {
  margin-right: 16px;
}
.flex-row.m-12px > *:not(:last-child) {
  margin-right: 12px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column.m-120px > *:not(:last-child) {
  margin-bottom: 120px;
}
.flex-column.m-60px > *:not(:last-child) {
  margin-bottom: 60px;
}
.flex-column.m-56px > *:not(:last-child) {
  margin-bottom: 56px;
}
.flex-column.m-52px > *:not(:last-child) {
  margin-bottom: 52px;
}
.flex-column.m-48px > *:not(:last-child) {
  margin-bottom: 48px;
}
.flex-column.m-44px > *:not(:last-child) {
  margin-bottom: 44px;
}
.flex-column.m-40px > *:not(:last-child) {
  margin-bottom: 40px;
}
.flex-column.m-36px > *:not(:last-child) {
  margin-bottom: 36px;
}
.flex-column.m-32px > *:not(:last-child) {
  margin-bottom: 32px;
}
.flex-column.m-28px > *:not(:last-child) {
  margin-bottom: 28px;
}
.flex-column.m-24px > *:not(:last-child) {
  margin-bottom: 24px;
}
.flex-column.m-20px > *:not(:last-child) {
  margin-bottom: 20px;
}
.flex-column.m-16px > *:not(:last-child) {
  margin-bottom: 16px;
}
.flex-column.m-12px > *:not(:last-child) {
  margin-bottom: 12px;
}

.pricing {
  margin: 5rem auto;
}

.pricing-cards {
  gap: 1rem;
  margin-top: 3rem;
  perspective: 150rem;
}
.card {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #1f2937;
  font-size: 12px;
  font-weight: 300;
  flex: 0 0 15%;
  height: 25rem;
  line-height: 24px;
  perspective: 1000px;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.card:hover {
  transform: rotateY(180deg);
}
p {
  text-align: center;
}

.front {
  background-color: #faf9f6;
  box-shadow: 0 8px 8px -4px #3882f6;
}
.back {
  background-image: linear-gradient(to right bottom, #ffffff, #e5e7eb);
  transform: rotateY(180deg);
}
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
.card:hover .front {
  transform: rotateY(-180deg);
}

card:hover.back {
  transform: rotateY(180deg);
}
ul {
  list-style: none;
}
ul li {
  border-bottom: 0.3px solid black;
  margin-bottom: 1rem;
  text-align: center;
}

.backdrop {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #1f2937;
  flex-grow: 0;
  flex-shrink: 1;
  height: 8px;
  width: 100%;
}
.back {
  padding: 2rem;
}
.price-box {
  font-size: 26px;
}
.text-only {
  text-transform: uppercase;
}

a {
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  height: 3rem;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 80%;
}

a:hover {
  background-color: #000;
}
