* {
    box-sizing: border-box;
}

/* ---------- Header Section ---------- */

.header-content {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/service-hero.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content .text-box {
    color: #F9FAF8;
    width: 75%;
}

.header-content .text-box h1 {
    width: 45%;
    font-size: 48px;
    font-weight: 900;
    text-shadow: 0 0 2px #1F2937;
}

.header-content .text-box p {
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 0 2px #1F2937;
}

/*--------Services Section--------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.container-services {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

section.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0;
}

section.services#project-management,
section.services#system-management {
    flex-direction: row-reverse;
}

section.services .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 0 120px 0 0;
}

section.services#project-management .text-box,
section.services#system-management .text-box {
    padding: 0 0 0 120px;
}

section.services .text-box h2,
section.services .text-box p {
    color: #1F2937;
    padding: 5px 0;
}

section.services .text-box h2 {
    font-size: 36px;
    font-weight: 900;
}

section.services .text-box p {
    font-size: 18px;
}

section.services img {
    width: 40%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

section.container-expertise {
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    color: #1F2937;
    margin-bottom: 50px;
    padding: 90px 0;
}

section.container-expertise h3 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
}

section.container-expertise .text-box ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

section.container-expertise .text-box li {
    font-size: 24px;
    font-style: italic;
    font-weight: light;
}

section.container-pricing {
    width: 60%;
    background-color: #3882F6;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    color: #F9FAF8;
}

section.container-pricing .text-box {
    width: 70%;
}

section.container-pricing .text-box h3 {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: 700;
}

section.container-pricing .text-box p {
    font-size: 14px;
    font-weight: 100;
}

.cta-button {
    border: 1px solid #F9FAF8;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 7px;
    color: #F9FAF8;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    transition: 0.6s;
}

@media screen and (max-width: 767px) {
    .header-content {
        min-height: 70vh;
        background-position: center;
        width: 100%;
        justify-content: center;
    }

    .header-content .text-box {
        width: 90%;
    }

    .header-content .text-box h1 {
        width: 90%;
        font-size: 36px;
    }

    .header-content .text-box p {
        width: 100%;
    }

    main section.container-services {
        width: 100%;
        margin-top: 0;
    }

    section.services {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 0;
    }

    section.services#project-management,
    section.services#system-management {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    section.services .text-box {
        width: 90%;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }

    section.services#project-management .text-box,
    section.services#system-management .text-box {
        padding: 0;
    }

    section.services .text-box h2 {
        font-size: 28px;
    }

    section.services img {
        width: 100%;
        height: 350px;
        border-radius: 0;
        object-fit: contain;
    }

    section.container-expertise h3 {
        font-size: 28px;
    }

    section.container-expertise .text-box ul {
        width: 80%;
        margin: 0 auto;
    }

    section.container-expertise .text-box li {
        font-size: 18px;
    }

    section.container-pricing {
        width: 85%;
        flex-direction: column;
        padding: 50px 40px;
    }

    section.container-pricing .text-box {
        width: 100%;
        padding-bottom: 20px;
    }

    section.container-pricing .text-box h3 {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-content {
        width: 100%;
        justify-content: center;
    }

    .header-content .text-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .header-content .text-box h1 {
        width: 80%;
    }

    .header-content .text-box p {
        width: 80%;
    }

    main section.container-services {
        width: 90%;
    }

    section.services {
        flex-direction: column-reverse;
        align-items: center;
    }

    section.services#project-management,
    section.services#system-management {
        flex-direction: column-reverse;
        align-items: center;
    }

    section.services .text-box {
        width: 80%;
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }

    section.services#project-management .text-box,
    section.services#system-management .text-box {
        padding: 0;
    }

    section.services img {
        width: 80%;
    }

    section.container-expertise .text-box ul {
        width: 90%;
        margin: 0 auto;
    }

    section.container-pricing {
        flex-direction: column;
        padding: 50px 60px;
        width: 80%;
    }

    section.container-pricing .text-box {
        width: 100%;
        margin-bottom: 15px;
    }
}