/* ---------- Header Section ---------- */

.header {
    min-height: 60vh;
    width: 100%;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-content .text-box {
    color: #F9FAF8;
    width: 50%;
    padding: 15vh 250px 0;
}

.header-content .text-box h1 {
    width: 60%;
    font-size: 48px;
    font-weight: 900;
    text-shadow: 0 0 2px #1F2937;
}

.header-content .text-box p {
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 0 2px #1F2937;
}

/*--------Services Section--------*/

main section.container-services {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

div.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0;
}

div.services#project-management,
div.services#system-management {
    flex-direction: row-reverse;
}

div.services .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 0 120px 0 0;
}

div.services#project-management .text-box,
div.services#system-management .text-box {
    padding: 0 0 0 120px;
}

div.services .text-box h2,
div.services .text-box p {
    color: #1F2937;
    padding: 5px 0;
}

div.services .text-box h2 {
    font-size: 36px;
    font-weight: 900;
}

div.services .text-box p {
    font-size: 18px;
}

div.services img {
    width: 40%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

section.container-expertise {
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    color: #1F2937;
    margin-bottom: 50px;
    padding: 90px 0;
}

section.container-expertise .text-box li {
    font-size: 24px;
    font-style: italic;
    font-weight: light;
}