* {
    box-sizing: border-box;
}

/* ---------- Header Section ---------- */

.header {
    min-height: 60vh;
    width: 100%;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 65%;
    padding-top: 120px;
}

.header-content .text-box {
    color: #F9FAF8;
    width: 75%;
}

.header-content .text-box h1 {
    width: 60%;
    font-size: 48px;
    font-weight: 900;
    text-shadow: 0 0 2px #1F2937;
}

.header-content .text-box p {
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 0 2px #1F2937;
}

/*--------Services Section--------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.container-services {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

div.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0;
}

div.services#project-management,
div.services#system-management {
    flex-direction: row-reverse;
}

div.services .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 0 120px 0 0;
}

div.services#project-management .text-box,
div.services#system-management .text-box {
    padding: 0 0 0 120px;
}

div.services .text-box h2,
div.services .text-box p {
    color: #1F2937;
    padding: 5px 0;
}

div.services .text-box h2 {
    font-size: 36px;
    font-weight: 900;
}

div.services .text-box p {
    font-size: 18px;
}

div.services img {
    width: 40%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

section.container-expertise {
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    color: #1F2937;
    margin-bottom: 50px;
    padding: 90px 0;
}

section.container-expertise h3 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
}

section.container-expertise .text-box ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section.container-expertise .text-box li {
    font-size: 24px;
    font-style: italic;
    font-weight: light;
}

section.container-pricing {
    width: 60%;
    background-color: #3882F6;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    color: #F9FAF8;
}

section.container-pricing .text-box {
    width: 70%;
}

section.container-pricing .text-box h3 {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: 700;
}

section.container-pricing .text-box p {
    font-size: 14px;
    font-weight: 100;
}

.cta-button {
    border: 1px solid #F9FAF8;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 7px;
    color: #F9FAF8;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    transition: 0.6s;
}

@media screen and (max-width: 762px) {}